<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Emp Crud</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Employee List</a></li>
          <li><a href="/create">Create</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 jumbotron text-center">
        <h1>New Employee Data</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 col-offset-3 well">
        <form action="/add" method="POST" autocomplete="off">
          <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" id="name" name="name" required placeholder="Enter Name">
          </div>
          <div class="form-group">
            <label for="">Gender</label>
            <select name="gender" id="gender" class="form-control" required>
              <option value="">Choose Gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="others">Others</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Employee Id</label>
            <input type="text" class="form-control" id="empid" name="empid" required placeholder="Enter EmpId">
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input type="email" class="form-control" id="email" name="email" required placeholder="Enter Email">
          </div>
          <div class="form-group">
            <label for="">Mobile</label>
            <input type="number" class="form-control" id="Mobile" name="mobile" required placeholder="Enter Mobilee">
          </div>
          <div class="form-group">
            <label for="">Salary</label>
            <input type="number" class="form-control" id="salary" name="salary" required placeholder="Enter Salary">
          </div>
          <div class="btn-group">
            <input type="submit" value="Create" class="btn btn-info">
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>